@import url('reset.less');


// ╦═╗╔═╗╔╦╗╦╔╗╔╔═╗
// ╠╦╝║╣  ║ ║║║║╠═╣
// ╩╚═╚═╝ ╩ ╩╝╚╝╩ ╩

@highdpi: ~"(-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx)";

.at2x(@path, @w: auto, @h: auto){
  background-image: url(@path);
  @at2x_path: ~`@{path}.replace(/\.\w+$/, function(match){ return "@2x" + match; })`;
  @media @highdpi{
    background-image: url("@{at2x_path}");
    background-size: @w @h;
  } // @media @highdpi
} // .at2x(@path, @w: auto, @h: auto)

// ╔═╗╦ ╦╔═╗╔╦╗╔═╗╦ ╦╔═╗╔═╗
// ╚═╗║║║╠═╣ ║ ║  ╠═╣║╣ ╚═╗
// ╚═╝╚╩╝╩ ╩ ╩ ╚═╝╩ ╩╚═╝╚═╝

@facebook:#3b5998;
@tumblr:#32506d;
@twitter:#00aced;
@instagram:#927162;
@pinterest:#cb2027;
@vine:#00bf8f;

@slate0a:#f8f9fd;
@slate1:#ebedf3;
@slate1a:#e0e7ef;
@slate1c:#d5dbe3;
@slate1b:#AEB1C0;
@slate2:#8b95a2;
@slate3:#667282;
@slate3a: #505a78;
@slate4:#4d5866;
@slate5:#323a45;
@slate6:#282d39;
@slate7:#2b2f3e;

@blue:#00a8ff;
@aqua:#58d3e5;
@teal:#1fbba6;
@green:#39ca74;
@lime:#b0cd1f;
@lite_yellow:#ffd00c;
@yellow:#f9ac17;
@orange:#ff6d26;
@tomato:#ff6347;
@red:#ff3000;
@pink:#f979a5;
@purple:#9d8dff;
@purple2:#81429f;

@impressions:#737c93;
@photos:@lime;
@views:@purple;
@submitters:@aqua;
@shares:@pink;

@error_bg:#fffde2;
@error_color:#ff5300;
@code:#585858;


// ╔╦╗╦═╗ ╦╦╔╗╔╔═╗
// ║║║║╔╩╦╝║║║║╚═╗
// ╩ ╩╩╩ ╚═╩╝╚╝╚═╝

// boxshadow (@boxshadow), boxshadow(@boxshadow, @boxshadow1), boxshadow(@boxshadow, @boxshadow1, @boxshadow2)
// fasttransition, transition, slowtransition, reallyslowtransition, notransition
// borderradius (@radius:0)
// transform(@transform)
// absolute, fixed, relative, block, inlineblock, left, right
// clearfix, ellipsis

.clearfix{
	clear:both;
} // clearfix

.fasttransition{
	-webkit-transition: all 0.25s ease 0s;
    -moz-transition: all 0.25s ease 0s;
	-ms-transition: all 0.25s ease 0s;
    -o-transition: all 0.25s ease 0s;
    transition: all 0.25s ease 0s;
} // fasttransition

.transition{
	-webkit-transition: all 0.7s ease 0s;
    -moz-transition: all 0.7s ease 0s;
    -o-transition: all 0.7s ease 0s;
	-ms-transition: all 0.7s ease 0s;
    transition: all 0.7s ease 0s;
} // transition

.slowtransition{
	-webkit-transition: all 2s ease 0.1s;
    -moz-transition: all 2s ease 0.1s;
    -o-transition: all 2s ease 0.1s;
	-ms-transition: all 2s ease 0.1s;
    transition: all 2s ease 0.1s;
} // slowtransition

.reallyslowtransition{
	-webkit-transition: all 3s ease 0s;
    -moz-transition: all 3s ease 0s;
    -o-transition: all 3s ease 0s;
	-ms-transition: all 3s ease 0s;
    transition: all 3s ease 0s;
} // reallyslowtransition

.notransition{
	-webkit-transition: all 0s ease 0s;
    -moz-transition: all 0s ease 0s;
    -o-transition: all 0s ease 0s;
	-ms-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
} // notransition

.boxshadow (@boxshadow){
	box-shadow: @boxshadow;
	-moz-box-shadow: @boxshadow;
	-webkit-box-shadow: @boxshadow;
	-o-box-shadow: @boxshadow;
	-ms-box-shadow: @boxshadow;
} // boxshadow (@boxshadow)

.boxshadow(@boxshadow, @boxshadow1){
    -webkit-box-shadow: @boxshadow, @boxshadow1;
    -moz-box-shadow: @boxshadow, @boxshadow1;
    -ms-box-shadow: @boxshadow, @boxshadow1;
    -o-box-shadow: @boxshadow, @boxshadow1;
    box-shadow: @boxshadow, @boxshadow1;
} // boxshadow(@boxshadow, @boxshadow1)

.boxshadow(@boxshadow, @boxshadow1, @boxshadow2){
    -webkit-box-shadow: @boxshadow, @boxshadow1, @boxshadow2;
    -moz-box-shadow: @boxshadow, @boxshadow1, @boxshadow2;
    -ms-box-shadow: @boxshadow, @boxshadow1, @boxshadow2;
    -o-box-shadow: @boxshadow, @boxshadow1, @boxshadow2;
    box-shadow: @boxshadow, @boxshadow1, @boxshadow2;
} // boxshadow(@boxshadow, @boxshadow1, @boxshadow2)

.borderradius (@radius:0){
	border-radius:@radius;
	-webkit-border-radius:@radius;
	-moz-border-radius:@radius;
	-o-border-radius:@radius;
	-ms-border-radius:@radius;
} // borderradius (@radius:0)

.transform(@transform){
	-webkit-transform: @transform;
	-moz-transform: @transform;
	-ms-transform: @transform;
	-o-transform: @transform;
	transform: @transform;
} // transform(@transform)

.ellipsis{
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
} // ellipsis

.absolute{
	position:absolute;
} // absolute

.fixed{
	position:fixed;
} // fixed

.relative{
	position:relative;
} // relative

.block{
	display:block;
} // block

.inlineblock{
	display:inline-block;
} // inlineblock

.left{
	float:left;
} // left

.right{
	float:right;
} // right

.link_style{
	color: @blue;
	font-size: 16px;
	text-transform: uppercase;
	.at2x('../assets/images/link_arrow.png', 12px, 11px);
	background-position: center right;
	background-repeat: no-repeat;
	padding-right: 20px;
	cursor: pointer;
	display: inline-block;
} // link_style
