@font-face {
  font-family: book;
  src: url(https://assets.pixlee.com/pixlee_fonts/Futura_PT_book.otf);
}
@font-face {
  font-family: heavy;
  src: url(https://assets.pixlee.com/pixlee_fonts/Futura_PT_heavy.otf);
}
@font-face {
  font-family: icons;
  src: url(https://assets.pixlee.com/pixlee_fonts/pixlee_icons.otf);
}
.book {
  font-family: book, sans-serif;
}
.heavy {
  font-family: heavy, sans-serif;
}
.icons {
  font-family: icons;
}
*,
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
tspan,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font: inherit;
  vertical-align: baseline;
  font-family: book, sans-serif;
  text-decoration: none;
  outline: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible !important;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}
body,
html {
  overflow-x: hidden;
  background-color: #eaedf2;
}
tspan {
  font-size: 12px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
}
textarea {
  -webkit-resize: none !important;
  -moz-resize: none !important;
  -ms-resize: none !important;
  -o-resize: none !important;
  resize: none !important;
}
a,
input[type='submit'],
button {
  cursor: pointer;
}
input[type='text'],
textarea {
  cursor: text;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
::selection {
  background: #00a8ff;
  color: white;
}
::-moz-selection {
  background: #00a8ff;
  color: white;
}
:-moz-selection {
  background: #00a8ff;
  color: white;
}
::-o-selection {
  background: #00a8ff;
  color: white;
}
::-ms-selection {
  background: #00a8ff;
  color: white;
}
::-webkit-selection {
  background: #00a8ff;
  color: white;
}
.clearfix {
  clear: both;
}
.fasttransition {
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
.transition {
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  -ms-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
.slowtransition {
  -webkit-transition: all 2s ease 0.1s;
  -moz-transition: all 2s ease 0.1s;
  -o-transition: all 2s ease 0.1s;
  -ms-transition: all 2s ease 0.1s;
  transition: all 2s ease 0.1s;
}
.reallyslowtransition {
  -webkit-transition: all 3s ease 0s;
  -moz-transition: all 3s ease 0s;
  -o-transition: all 3s ease 0s;
  -ms-transition: all 3s ease 0s;
  transition: all 3s ease 0s;
}
.notransition {
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  -ms-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.block {
  display: block;
}
.inlineblock {
  display: inline-block;
}
.left {
  float: left;
}
.right {
  float: right;
}
.link_style {
  color: #00a8ff;
  font-size: 16px;
  text-transform: uppercase;
  background-image: url('../assets/images/link_arrow.png');
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 20px;
  cursor: pointer;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .link_style {
    background-image: url("../assets/images/link_arrow@2x.png");
    background-size: 12px 11px;
  }
}
