@import url('common.less');

#top_menu_container{
	#nav_wrapper{
		.block;
		position: relative;
		width: 100%;
		height: 80px;
		background-color: white;
		z-index: 100;
		#nav_holder{
			width: 1000px;
			height: 80px;
			.block;
			position: relative;
			margin: 0 auto;
			#nav_left{
				.at2x('../assets/images/pixlee_logo.png', 112px, 20px);
				background-position: center center;
				background-repeat: no-repeat;
				width: 112px;
				height: 20px;
				.absolute;
				top: 29px;
				left: 0px;
			} // nav_left
			#nav_middle{
				.absolute;
				text-align: center;
				top: 0px;
				left: 50%;
				-webkit-transform:translateX(-50%);
				transform:translateX(-50%);
				height: 80px;
				.nav_item{
					display: inline-block;
					.heavy;
					font-size: 13px;
					text-transform: uppercase;
					padding: 32px 22px 31px;
					color: @slate7;
					cursor: pointer;
				} // nav_item
			} // nav_middle	
			#nav_right{
				.heavy;
				color: @blue;
				font-size: 13px;
				.absolute;
				text-transform: uppercase;
				box-shadow:inset 0px 0px 0px 2px @blue;
				.borderradius(3px);
				right: 0px;
				top: 16px;
				padding: 15px 23px;
				cursor: pointer;
				.fasttransition;
				&:hover{
					background: @blue;
					color: white;
				} // &:hover
			} // nav_right
		} // nav_holder
	} // nav_wrapper
	#sub_menu_wrapper{
		.absolute;
		background-color: rgba(255, 255, 255, 0.95);
		width: 100%;
		z-index: 99;
		border-top: 1px solid #eaedf2;
		border-bottom: 1px solid #ffffff;
		box-shadow: 0px 0px 3px rgba(0,0,0,0.1);
		display: none;
		#sub_menu_holder{
			width: 1000px;
			padding: 60px 0px;
			.block;
			position: relative;
			margin: 0 auto;
			text-align: center;
			.column{
				display: inline-block;
				text-align: left;  
			    vertical-align:top;
			    padding: 0px 60px;
			    border-right: 3px dotted #dadde5;
			    height: 136px;
			    &:nth-of-type(3){
				    border-right: 0px dotted @slate1;
				    padding-right: 0px;
			    } // &:nth-of-type(3)
			    &:nth-of-type(1){
				    padding-left: 0px;
			    } // &:nth-of-type(3)
				b{
					.block;
					text-transform: uppercase;
					.heavy;
					color: @slate5;
					font-size: 17px;
					margin-bottom: 10px;
				} // b
				a{
					.block;
					text-transform: capitalize;
					.book;
					color: @slate3;
					margin-bottom: 5px;
					.fasttransition;
					&:hover{
						color: @blue;
					} // &:hover
				} // a
			} // column
		} // sub_menu_holder
	} // sub_menu_wrapper
} // top_menu_container

#hero_wrapper{
	.block;
	width: 100%;
	background: #81429f;
	background: -moz-linear-gradient(-45deg,  #81429f 0%, #3586c6 25%, #3586c6 75%, #1fbba6 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#81429f), color-stop(25%,#3586c6), color-stop(75%,#3586c6), color-stop(100%,#1fbba6));
	background: -webkit-linear-gradient(-45deg,  #81429f 0%,#3586c6 25%,#3586c6 75%,#1fbba6 100%);
	background: -o-linear-gradient(-45deg,  #81429f 0%,#3586c6 25%,#3586c6 75%,#1fbba6 100%);
	background: -ms-linear-gradient(-45deg,  #81429f 0%,#3586c6 25%,#3586c6 75%,#1fbba6 100%);
	background: linear-gradient(135deg,  #81429f 0%,#3586c6 25%,#3586c6 75%,#1fbba6 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#81429f', endColorstr='#1fbba6',GradientType=1 );
	height: 600px;
	box-shadow:inset 0px -1px 0px rgba(0,0,0,0.15);
	position: relative;
	.topography{
		background:url('../assets/images/topography.png') top center repeat transparent;
		.block;
		width: 100%;
		height: 600px;
		opacity: 0.4;
		.absolute;
	} // topography
	#scroll_down{
		.at2x('../assets/images/scroll_down.png', 137px, 42px);
		background-position: center center;
		background-repeat: no-repeat;
		width: 137px;
		height: 42px;
		.absolute;
		bottom: 0px;
		left: 50%;
		-webkit-transform:translateX(-50%);
		transform:translateX(-50%);
		cursor: pointer;
		z-index: 50;
	} // scroll_down
	#hero_content{
		.block;
		position: relative;
		width: 1000px;
		height: 600px;
		margin: 0 auto;
		&:after{
			content: '';
			clear: both;
			.block;
		} // &:after
		#hero_left{
			float: left;
			width: 50%;
			height: 600px;
			h1{
				.heavy;
				color: white;
				font-size: 30px;
				.block;
				margin-top: 200px;
				margin-bottom: 25px;
			} // h1
			h2{
				color: white;
				font-size: 28px;
				.book;
				.block;
				margin-bottom: 40px;
			} // h2
			#request_demo{
				.borderradius(100px);
				font-size: 16px;
				background: white;
				display: inline-block;
				box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.15);
				.heavy;
				color: #506778;
				text-transform: uppercase;
				padding: 19px 63px;
				cursor: pointer;
				.fasttransition;
				&:hover{
					color: @slate7;
					box-shadow: 0px 0px 0px 5px rgba(0,0,0,0.5);
				} // &:hover
			} // request_demo
		} // hero_left
		#hero_right{
			float: right;
			width: 50%;
			height: 600px;
			background:url('../assets/images/hero_image.png') bottom right no-repeat transparent;
			box-shadow:inset 0px -1px 0px rgba(0,0,0,0.15);
		} // hero_right
	} // hero_content
} // hero_wrapper

#customer_wrapper{
	.block;
	width: 100%;
	background-color: white;
	#customer_title{
		position: relative;
		width: 1000px;
		.block;
		padding: 50px 0px 30px;
		color: #525d6b;
		font-size: 30px;
		text-align: center;
		margin: 0 auto;
		.heavy;
	} // customer_title
	#customer_strip{
		.block;
		position: relative;
		height: 200px;
		width: 1000px;
		margin: 0 auto;
		.at2x('../assets/images/logos.jpg', 973px, 241px);
		background-repeat: no-repeat;
		background-position: center center;
		background-color: white;
		opacity: 0.8;
	} // customer_strip
	.link_style_holder{
		width: 1000px;
		margin: 0 auto;
		padding: 30px 0px 50px;
		text-align: center;
		border-bottom: 1px solid @slate1;
	} // link_style_holder
	#customer_avatar{
		.block;
		width: 70px;
		height: 70px;
		.borderradius(50%);
		background: url('http://ak-hdl.buzzfed.com/static/2013-12/enhanced/webdr01/23/13/grid-cell-25294-1387822460-3.jpg') top center no-repeat;
		background-size: cover;
		margin: 0 auto;
		margin-top: 40px;
	} // customer_avatar
	#customer_quote{
		.block;
		margin: 0 auto;
		width: 1000px;
		text-align: center;
		font-size: 18px;
		color: #8b95a2;
		font-style: italic;
		margin-top: 20px;
		b{
			font-style: normal;
			.heavy;
			color: #4d5866;
			.block;
			margin-top: 10px;
			font-size: 16px;
		} // b
	} // customer_quote
} // customer_wrapper

#why_block_wrapper{
	.block;
	width: 100%;
	position: relative;
	height: 965px;
	background: #2997ce;
	background: #2187ba;
	background: -moz-linear-gradient(-45deg,  #2187ba 0%, #46c7f5 79%, #46e0f4 100%);
	background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#2187ba), color-stop(79%,#46c7f5), color-stop(100%,#46e0f4));
	background: -webkit-linear-gradient(-45deg,  #2187ba 0%,#46c7f5 79%,#46e0f4 100%);
	background: -o-linear-gradient(-45deg,  #2187ba 0%,#46c7f5 79%,#46e0f4 100%);
	background: -ms-linear-gradient(-45deg,  #2187ba 0%,#46c7f5 79%,#46e0f4 100%);
	background: linear-gradient(135deg,  #2187ba 0%,#46c7f5 79%,#46e0f4 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2187ba', endColorstr='#46e0f4',GradientType=1 );
	.topography{
		background:url('../assets/images/topography.png') top center repeat transparent;
		.block;
		width: 100%;
		height: 100%;
		opacity: 0.4;
		.absolute;
	} // topography
	#why_block_content{
		.block;
		.absolute;
		width: 1000px;
		height: 100%;
		top: 0px;
		left: 50%;
		-webkit-transform:translateX(-50%);
		transform:translateX(-50%);
		text-align: center;
		#why_block_title{
			text-align: center;
			.block;
			position: relative;
			h3{
				font-size: 34px;
				.heavy;
				.block;
				color: white;
				margin-top: 50px;
			} // h3
			h4{
				font-size: 23px;
				.book;
				.block;
				margin-top: 10px;
				color: white;
			} // h4
		} // why_block_title
		#why_block_middle{
			.block;
			position: relative;
			margin-bottom: 50px;
			#why_block_row_one{
				.block;
				position: relative;
				text-align: center;
				margin-top: 50px;
			} // why_block_row_one
			#why_block_row_two{
				.block;
				position: relative;
				text-align: center;
				margin-top: 70px;
			} // why_block_row_two
			.why_item{
				color: white;
				text-align: center;
				display: inline-block;
			    vertical-align:top;
			    margin: 0px 50px;
			    .img{
			    	.block;
			    	margin: 0 auto;
			    	margin-bottom: 15px;
			    	&.ecommerce{
						.at2x('../assets/images/ecommerce.png', 111px, 79px);
						background-position: center center;
						background-repeat: no-repeat;
						width: 160px;
						height: 160px;
			    	} // &.ecommerce
			    	&.social_roi{
						.at2x('../assets/images/social_roi.png', 99px, 90px);
						background-position: center center;
						background-repeat: no-repeat;
						width: 160px;
						height: 160px;
			    	} // &.social_roi
			    	&.mobile{
						.at2x('../assets/images/mobile.png', 81px, 86px);
						background-position: center center;
						background-repeat: no-repeat;
						width: 160px;
						height: 160px;
			    	} // &.mobile
			    	&.omnichannel{
						.at2x('../assets/images/omnichannel.png', 153px, 121px);
						background-position: center center;
						background-repeat: no-repeat;
						width: 160px;
						height: 160px;
			    	} // &.omnichannel
			    	&.marketing{
						.at2x('../assets/images/marketing.png', 135px, 93px);
						background-position: center center;
						background-repeat: no-repeat;
						width: 160px;
						height: 160px;
			    	} // &.marketing
			    	&.analytics{
						.at2x('../assets/images/analytics.png', 90px, 72px);
						background-position: center center;
						background-repeat: no-repeat;
						width: 160px;
						height: 160px;
			    	} // &.analytics
		    	} // img
				b{
					.heavy;
					font-size: 18px;
					margin-bottom: 5px;
					.block;
				} // b
				p{
					.block;
					font-size: 18px;
					line-height: 26px;
				} // p
			} // why_item
		} // why_block_middle
		#why_learn_more{
			.borderradius(3px);
			font-size: 14px;
			background: white;
			display: inline-block;
			box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.15);
			.heavy;
			color: #506778;
			text-transform: uppercase;
			padding: 14px 50px;
			cursor: pointer;
			.fasttransition;
			margin-bottom: 50px;
			&:hover{
				color: @slate7;
				box-shadow: 0px 0px 0px 4px rgba(0,0,0,0.5);
			} // &:hover
		} // why_learn_more
	} // why_block_content
} // why_block_wrapper

#current_campaign_wrapper{
	.block;
	position: relative;
	background: white;
	#current_campaign_content{
		.block;
		position: relative;
		width: 1000px;
		margin: 0 auto;
		padding: 40px 0px;
		border-bottom: 1px solid @slate1;
		&:after{
			content: '';
			clear: both;
			.block;
		} // &:after
		.current_campaign_title{
			.block;
			.absolute;
			top: 0px;
			left: 0px;
			.heavy;
			color: @slate2;
			font-size: 14px;
			text-transform: uppercase;
			background: #eaedf2;
			padding: 12px 18px;
			width: calc(~'100% - 36px');
			text-align: left;
		} // current_campaign_title
		#current_campaign_left{
			.block;
			float: left;
			position: relative;
			text-align: center;
			overflow: hidden;
			.borderradius(5px);
			width: 270px;
			padding: 60px 0px 0px 180px;
			height: 145px;
			.at2x('../assets/images/instagram_analytics.png', 98px, 93px);
			background-repeat: no-repeat;
			background-position: 40px 70px;
			background-color: #fff;
			box-shadow: 0px 0px 0px 1px @slate1;
			text-align: left;
			margin-left: 30px;
			b{
				font-size: 20px;
				color: @slate3;
				.heavy;
			} // b
			p{
				font-size: 15px;
				color: @slate2;
				margin: 5px 0px 10px;
			} // p
			a{
				.borderradius(3px);
				font-size: 14px;
				display: inline-block;
				box-shadow: 0px 0px 0px 2px @blue;
				.heavy;
				color: @blue;
				text-transform: uppercase;
				padding: 10px 25px;
				cursor: pointer;
				.fasttransition;
				display: inline-block;
				&:hover{
					color: white;
					background: @blue;
				} // &:hover
			} // a
		} // current_campaign_left
		#current_campaign_right{
			.block;
			float: right;
			position: relative;
			overflow: hidden;
			text-align: center;
			.borderradius(5px);
			width: 270px;
			margin-right: 30px;
			padding: 70px 0px 0px 180px;
			height: 135px;
			.at2x('../assets/images/whitepaper.png', 98px, 93px);
			background-repeat: no-repeat;
			background-position: 40px 70px;
			background-color: #fff;
			box-shadow: 0px 0px 0px 1px @slate1;
			text-align: left;
			p{
				margin-bottom: 15px;
				font-size: 18px;
				color: @slate2;
				b{
					.heavy;
					color: @slate3;
				} // b
			} // p
			a{
				.borderradius(3px);
				font-size: 14px;
				display: inline-block;
				box-shadow: 0px 0px 0px 2px @blue;
				.heavy;
				color: @blue;
				text-transform: uppercase;
				padding: 10px 25px;
				cursor: pointer;
				.fasttransition;
				display: inline-block;
				&:hover{
					color: white;
					background: @blue;
				} // &:hover
			} // a
		} // current_campaign_right
	} // current_campaign_content
} // current_campaign_wrapper

#solutions_wrapper{
	.block;
	position: relative;
	background: white;
	#solutions_content{
		.block;
		position: relative;
		width: 1000px;
		margin: 0 auto;
		padding: 70px 0px;
		#solutions_title{
			text-align: center;
			.block;
			position: relative;
			h3{
				font-size: 34px;
				.heavy;
				.block;
				color: #525d6b;
			} // h3
			h4{
				font-size: 23px;
				.book;
				.block;
				margin-top: 10px;
				color: #667282;
			} // h4
		} // solutions_title
	} // solutions_content
	#solutions_bottom{
		.block;
		position: relative;
		text-align: center;
		margin-top: 40px;
		.solutions_item{
			display: inline-block;
			vertical-align: top;
			text-align: center;
			margin: 0px 40px;
			padding: 30px 0px;
			height: 228px;
			&:first-child{
				margin: 0px;
				border-right: 1px dashed #e9eef4;
				padding-right:40px;
			} // &:first-child
			&:last-child{
				margin: 0px;
				padding-left:40px;
				border-left: 1px dashed #e9eef4;
			} // &:last-child
			.ecommerce_icon{
				.at2x('../assets/images/ecom_icon.png', 56px, 58px);
				background-repeat: no-repeat;
				background-position: center center;
				width: 56px;
				height: 60px;
				.block;
				margin: 0 auto 25px;
			} // ecommerce_icon
			.agency_icon{
				.at2x('../assets/images/agency_icon.png', 30px, 59px);
				background-repeat: no-repeat;
				background-position: center center;
				width: 30px;
				height: 60px;
				.block;
				margin: 0 auto 25px;
			} // agency_icon
			.social_roi_icon{
				.at2x('../assets/images/social_commerce.png', 60px, 60px);
				background-repeat: no-repeat;
				background-position: center center;
				width: 60px;
				height: 60px;
				.block;
				margin: 0 auto 25px;
			} // social_roi_icon
			b{
				.block;
				font-size: 24px;
				.heavy;
				color: #4d5866;
				margin-bottom: 10px;
			} // b
			p{
				.block;
				font-size: 18px;
				color: #4d5866;
				margin-bottom: 10px;
			} // p
			a{
				font-size: 18px;
				color: @blue;
				.block;
				.heavy;
				text-transform: uppercase;
			} // a
		} // solutions_item
	} // solutions_bottom
} // solutions_wrapper

#dual_cta_wrapper{
	.block;
	position: relative;
	&:after{
		content: '';
		clear: both;
		.block;
	} // &:after
	.bg_image{
		width: 120px;
		height: 100px;
		margin: 0 auto 15px auto;
		.block;
		background-position: center center;
		background-repeat: no-repeat;
	} // bg_image
	.dual_cta_title{
		font-size: 24px;
		.heavy;
		color: #4d5866;
	} // dual_cta_title
	p{
		font-size: 16px;
		color: #4d5866;
		.book;
		margin-top: 10px;
		margin-bottom: 20px;
	} // p
	#request_demo_link{
		.borderradius(3px);
		font-size: 14px;
		background: white;
		display: inline-block;
		box-shadow: 0px 0px 0px 2px @green;
		.heavy;
		color: @green;
		text-transform: uppercase;
		padding: 14px 50px;
		cursor: pointer;
		.fasttransition;
		display: inline-block;
		&:hover{
			color: white;
			background: @green;
		} // &:hover
	} // request_demo_link
	#learn_more_link{
		.borderradius(3px);
		font-size: 14px;
		background: white;
		display: inline-block;
		box-shadow: 0px 0px 0px 2px @pink;
		.heavy;
		color: @pink;
		text-transform: uppercase;
		padding: 14px 50px;
		cursor: pointer;
		.fasttransition;
		display: inline-block;
		&:hover{
			color: white;
			background: @pink;
		} // &:hover
	} // learn_more_link
	#dual_cta_left{
		float: left;
		background: #e0e7ef;
		width: 50%;
		text-align: center;
		padding: 40px 0px 50px;
		.bg_image{
			.at2x('../assets/images/free_ticket.png', 118px, 90px);
		} // bg_image
	} // dual_cta_left
	#dual_cta_right{
		float: right;
		background: #eaedf2;
		width: 50%;
		text-align: center;
		padding: 40px 0px 50px;
		.bg_image{
			.at2x('../assets/images/expert.png', 80px, 95px);
		} // bg_image
	} // dual_cta_right
} // dual_cta_wrapper

#footer_wrapper{
	.block;
	background-color: @slate7;
	position: relative;
	#footer_content{
		.block;
		position: relative;
		margin: 0 auto;
		width: 1000px;
		padding: 70px 0px;
		&:after{
			content: '';
			clear: both;
			.block;
		} // &:after
		#footer_left{
			float: left;
			width: 70%;
			text-align: left;
			#footer_left_top{
				position: relative;
				.block;
				#footer_menu_item{
					display: inline-block;
					vertical-align: top;
					margin-right: 40px;
					a{
						.heavy;
						font-size: 14px;
						color: white;
						.block;
						line-height: 25px;
						.fasttransition;
						&:hover{
							color: @blue;
						}
					} // a
				} // footer_menu_item
			} // footer_left_top
			#footer_left_bottom{
				position: relative;
				.block;
				margin-top: 90px;
				p{
					.block;
					font-size: 13px;
					color: #667282;
					a{
						color: #8b95a2;
						&:hover{
							border-bottom: dotted 1px #8b95a2;
						} // &:hover
					} // a
				} // p
			} // footer_left_bottom
		} // footer_left
		#footer_right{
			text-align: right;
			float: right;
			width: 30%;
			#footer_right_top{
				position: relative;
				.block;
				p{
					.block;
					font-size: 14px;
					color: #8b95a2;
					.heavy;
				} // p
				#partner_holder{
					.block;
					position: relative;
					margin-top: 10px;
					.footer_partner{
						height: 55px;
						display: inline-block;
						background-position: center center;
						background-repeat:no-repeat;
						margin-left: 10px;
						&#footer_magento{
							.at2x('../assets/images/magento.png', 67px, 46px);
							width: 76px;
						} // footer_magento
						&#footer_demandware{
							.at2x('../assets/images/demandware.png', 85px, 41px);
							width: 85px;
						} // footer_demandware
						&#footer_shopify{
							.at2x('../assets/images/shopify.png', 54px, 49px);
							width: 54px;
						} // footer_shopify
					} // footer_partner
				} // partner_holder
			} // footer_right_top
			#footer_right_bottom{
				position: relative;
				.block;
				margin-top: 100px;
				a{
					color: white;
					.icons;
					font-size: 17px;
					margin-left:10px;
					&#pixlee_social_link_twitter:before{
						content:'\f099';
					} // &#pixlee_social_link_twitter:before
					&#pixlee_social_link_facebook:before{
						content:'\f09a';
					} // &#pixlee_social_link_facebook:before
					&#pixlee_social_link_linkedin:before{
						content:'\f0e1';
					} // &#pixlee_social_link_linkedin:before
					&#pixlee_social_link_gplus:before{
						content:'\f0d5';
					} // &#pixlee_social_link_gplus:before
				} // a
			} // footer_right_bottom
		} // footer_right
	} // footer_content
} // footer_wrapper