@font-face {
  font-family: book;
  src: url(https://assets.pixlee.com/pixlee_fonts/Futura_PT_book.otf);
}
@font-face {
  font-family: heavy;
  src: url(https://assets.pixlee.com/pixlee_fonts/Futura_PT_heavy.otf);
}
@font-face {
  font-family: icons;
  src: url(https://assets.pixlee.com/pixlee_fonts/pixlee_icons.otf);
}
.book {
  font-family: book, sans-serif;
}
.heavy {
  font-family: heavy, sans-serif;
}
.icons {
  font-family: icons;
}
*,
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
tspan,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font: inherit;
  vertical-align: baseline;
  font-family: book, sans-serif;
  text-decoration: none;
  outline: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible !important;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}
body,
html {
  overflow-x: hidden;
  background-color: #eaedf2;
}
tspan {
  font-size: 12px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
}
textarea {
  -webkit-resize: none !important;
  -moz-resize: none !important;
  -ms-resize: none !important;
  -o-resize: none !important;
  resize: none !important;
}
a,
input[type='submit'],
button {
  cursor: pointer;
}
input[type='text'],
textarea {
  cursor: text;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
::selection {
  background: #00a8ff;
  color: white;
}
::-moz-selection {
  background: #00a8ff;
  color: white;
}
:-moz-selection {
  background: #00a8ff;
  color: white;
}
::-o-selection {
  background: #00a8ff;
  color: white;
}
::-ms-selection {
  background: #00a8ff;
  color: white;
}
::-webkit-selection {
  background: #00a8ff;
  color: white;
}
.clearfix {
  clear: both;
}
.fasttransition {
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
.transition {
  -webkit-transition: all 0.7s ease 0s;
  -moz-transition: all 0.7s ease 0s;
  -o-transition: all 0.7s ease 0s;
  -ms-transition: all 0.7s ease 0s;
  transition: all 0.7s ease 0s;
}
.slowtransition {
  -webkit-transition: all 2s ease 0.1s;
  -moz-transition: all 2s ease 0.1s;
  -o-transition: all 2s ease 0.1s;
  -ms-transition: all 2s ease 0.1s;
  transition: all 2s ease 0.1s;
}
.reallyslowtransition {
  -webkit-transition: all 3s ease 0s;
  -moz-transition: all 3s ease 0s;
  -o-transition: all 3s ease 0s;
  -ms-transition: all 3s ease 0s;
  transition: all 3s ease 0s;
}
.notransition {
  -webkit-transition: all 0s ease 0s;
  -moz-transition: all 0s ease 0s;
  -o-transition: all 0s ease 0s;
  -ms-transition: all 0s ease 0s;
  transition: all 0s ease 0s;
}
.ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.absolute {
  position: absolute;
}
.fixed {
  position: fixed;
}
.relative {
  position: relative;
}
.block {
  display: block;
}
.inlineblock {
  display: inline-block;
}
.left {
  float: left;
}
.right {
  float: right;
}
.link_style {
  color: #00a8ff;
  font-size: 16px;
  text-transform: uppercase;
  background-image: url('../assets/images/link_arrow.png');
  background-position: center right;
  background-repeat: no-repeat;
  padding-right: 20px;
  cursor: pointer;
  display: inline-block;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  .link_style {
    background-image: url("../assets/images/link_arrow@2x.png");
    background-size: 12px 11px;
  }
}
#top_menu_container #nav_wrapper {
  display: block;
  position: relative;
  width: 100%;
  height: 80px;
  background-color: white;
  z-index: 100;
}
#top_menu_container #nav_wrapper #nav_holder {
  width: 1000px;
  height: 80px;
  display: block;
  position: relative;
  margin: 0 auto;
}
#top_menu_container #nav_wrapper #nav_holder #nav_left {
  background-image: url('../assets/images/pixlee_logo.png');
  background-position: center center;
  background-repeat: no-repeat;
  width: 112px;
  height: 20px;
  position: absolute;
  top: 29px;
  left: 0px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #top_menu_container #nav_wrapper #nav_holder #nav_left {
    background-image: url("../assets/images/pixlee_logo@2x.png");
    background-size: 112px 20px;
  }
}
#top_menu_container #nav_wrapper #nav_holder #nav_middle {
  position: absolute;
  text-align: center;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 80px;
}
#top_menu_container #nav_wrapper #nav_holder #nav_middle .nav_item {
  display: inline-block;
  font-family: heavy, sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  padding: 32px 22px 31px;
  color: #2b2f3e;
  cursor: pointer;
}
#top_menu_container #nav_wrapper #nav_holder #nav_right {
  font-family: heavy, sans-serif;
  color: #00a8ff;
  font-size: 13px;
  position: absolute;
  text-transform: uppercase;
  box-shadow: inset 0px 0px 0px 2px #00a8ff;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  right: 0px;
  top: 16px;
  padding: 15px 23px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
#top_menu_container #nav_wrapper #nav_holder #nav_right:hover {
  background: #00a8ff;
  color: white;
}
#top_menu_container #sub_menu_wrapper {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.95);
  width: 100%;
  z-index: 99;
  border-top: 1px solid #eaedf2;
  border-bottom: 1px solid #ffffff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.1);
  display: none;
}
#top_menu_container #sub_menu_wrapper #sub_menu_holder {
  width: 1000px;
  padding: 60px 0px;
  display: block;
  position: relative;
  margin: 0 auto;
  text-align: center;
}
#top_menu_container #sub_menu_wrapper #sub_menu_holder .column {
  display: inline-block;
  text-align: left;
  vertical-align: top;
  padding: 0px 60px;
  border-right: 3px dotted #dadde5;
  height: 136px;
}
#top_menu_container #sub_menu_wrapper #sub_menu_holder .column:nth-of-type(3) {
  border-right: 0px dotted #ebedf3;
  padding-right: 0px;
}
#top_menu_container #sub_menu_wrapper #sub_menu_holder .column:nth-of-type(1) {
  padding-left: 0px;
}
#top_menu_container #sub_menu_wrapper #sub_menu_holder .column b {
  display: block;
  text-transform: uppercase;
  font-family: heavy, sans-serif;
  color: #323a45;
  font-size: 17px;
  margin-bottom: 10px;
}
#top_menu_container #sub_menu_wrapper #sub_menu_holder .column a {
  display: block;
  text-transform: capitalize;
  font-family: book, sans-serif;
  color: #667282;
  margin-bottom: 5px;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
#top_menu_container #sub_menu_wrapper #sub_menu_holder .column a:hover {
  color: #00a8ff;
}
#hero_wrapper {
  display: block;
  width: 100%;
  background: #81429f;
  background: -moz-linear-gradient(-45deg, #81429f 0%, #3586c6 25%, #3586c6 75%, #1fbba6 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #81429f), color-stop(25%, #3586c6), color-stop(75%, #3586c6), color-stop(100%, #1fbba6));
  background: -webkit-linear-gradient(-45deg, #81429f 0%, #3586c6 25%, #3586c6 75%, #1fbba6 100%);
  background: -o-linear-gradient(-45deg, #81429f 0%, #3586c6 25%, #3586c6 75%, #1fbba6 100%);
  background: -ms-linear-gradient(-45deg, #81429f 0%, #3586c6 25%, #3586c6 75%, #1fbba6 100%);
  background: linear-gradient(135deg, #81429f 0%, #3586c6 25%, #3586c6 75%, #1fbba6 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#81429f', endColorstr='#1fbba6', GradientType=1);
  height: 600px;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
#hero_wrapper .topography {
  background: url('../assets/images/topography.png') top center repeat transparent;
  display: block;
  width: 100%;
  height: 600px;
  opacity: 0.4;
  position: absolute;
}
#hero_wrapper #scroll_down {
  background-image: url('../assets/images/scroll_down.png');
  background-position: center center;
  background-repeat: no-repeat;
  width: 137px;
  height: 42px;
  position: absolute;
  bottom: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  cursor: pointer;
  z-index: 50;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #hero_wrapper #scroll_down {
    background-image: url("../assets/images/scroll_down@2x.png");
    background-size: 137px 42px;
  }
}
#hero_wrapper #hero_content {
  display: block;
  position: relative;
  width: 1000px;
  height: 600px;
  margin: 0 auto;
}
#hero_wrapper #hero_content:after {
  content: '';
  clear: both;
  display: block;
}
#hero_wrapper #hero_content #hero_left {
  float: left;
  width: 50%;
  height: 600px;
}
#hero_wrapper #hero_content #hero_left h1 {
  font-family: heavy, sans-serif;
  color: white;
  font-size: 30px;
  display: block;
  margin-top: 200px;
  margin-bottom: 25px;
}
#hero_wrapper #hero_content #hero_left h2 {
  color: white;
  font-size: 28px;
  font-family: book, sans-serif;
  display: block;
  margin-bottom: 40px;
}
#hero_wrapper #hero_content #hero_left #request_demo {
  border-radius: 100px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  font-size: 16px;
  background: white;
  display: inline-block;
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.15);
  font-family: heavy, sans-serif;
  color: #506778;
  text-transform: uppercase;
  padding: 19px 63px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
#hero_wrapper #hero_content #hero_left #request_demo:hover {
  color: #2b2f3e;
  box-shadow: 0px 0px 0px 5px rgba(0, 0, 0, 0.5);
}
#hero_wrapper #hero_content #hero_right {
  float: right;
  width: 50%;
  height: 600px;
  background: url('../assets/images/hero_image.png') bottom right no-repeat transparent;
  box-shadow: inset 0px -1px 0px rgba(0, 0, 0, 0.15);
}
#customer_wrapper {
  display: block;
  width: 100%;
  background-color: white;
}
#customer_wrapper #customer_title {
  position: relative;
  width: 1000px;
  display: block;
  padding: 50px 0px 30px;
  color: #525d6b;
  font-size: 30px;
  text-align: center;
  margin: 0 auto;
  font-family: heavy, sans-serif;
}
#customer_wrapper #customer_strip {
  display: block;
  position: relative;
  height: 200px;
  width: 1000px;
  margin: 0 auto;
  background-image: url('../assets/images/logos.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-color: white;
  opacity: 0.8;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #customer_wrapper #customer_strip {
    background-image: url("../assets/images/logos@2x.jpg");
    background-size: 973px 241px;
  }
}
#customer_wrapper .link_style_holder {
  width: 1000px;
  margin: 0 auto;
  padding: 30px 0px 50px;
  text-align: center;
  border-bottom: 1px solid #ebedf3;
}
#customer_wrapper #customer_avatar {
  display: block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -o-border-radius: 50%;
  -ms-border-radius: 50%;
  background: url('http://ak-hdl.buzzfed.com/static/2013-12/enhanced/webdr01/23/13/grid-cell-25294-1387822460-3.jpg') top center no-repeat;
  background-size: cover;
  margin: 0 auto;
  margin-top: 40px;
}
#customer_wrapper #customer_quote {
  display: block;
  margin: 0 auto;
  width: 1000px;
  text-align: center;
  font-size: 18px;
  color: #8b95a2;
  font-style: italic;
  margin-top: 20px;
}
#customer_wrapper #customer_quote b {
  font-style: normal;
  font-family: heavy, sans-serif;
  color: #4d5866;
  display: block;
  margin-top: 10px;
  font-size: 16px;
}
#why_block_wrapper {
  display: block;
  width: 100%;
  position: relative;
  height: 965px;
  background: #2997ce;
  background: #2187ba;
  background: -moz-linear-gradient(-45deg, #2187ba 0%, #46c7f5 79%, #46e0f4 100%);
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%, #2187ba), color-stop(79%, #46c7f5), color-stop(100%, #46e0f4));
  background: -webkit-linear-gradient(-45deg, #2187ba 0%, #46c7f5 79%, #46e0f4 100%);
  background: -o-linear-gradient(-45deg, #2187ba 0%, #46c7f5 79%, #46e0f4 100%);
  background: -ms-linear-gradient(-45deg, #2187ba 0%, #46c7f5 79%, #46e0f4 100%);
  background: linear-gradient(135deg, #2187ba 0%, #46c7f5 79%, #46e0f4 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#2187ba', endColorstr='#46e0f4', GradientType=1);
}
#why_block_wrapper .topography {
  background: url('../assets/images/topography.png') top center repeat transparent;
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0.4;
  position: absolute;
}
#why_block_wrapper #why_block_content {
  display: block;
  position: absolute;
  width: 1000px;
  height: 100%;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  text-align: center;
}
#why_block_wrapper #why_block_content #why_block_title {
  text-align: center;
  display: block;
  position: relative;
}
#why_block_wrapper #why_block_content #why_block_title h3 {
  font-size: 34px;
  font-family: heavy, sans-serif;
  display: block;
  color: white;
  margin-top: 50px;
}
#why_block_wrapper #why_block_content #why_block_title h4 {
  font-size: 23px;
  font-family: book, sans-serif;
  display: block;
  margin-top: 10px;
  color: white;
}
#why_block_wrapper #why_block_content #why_block_middle {
  display: block;
  position: relative;
  margin-bottom: 50px;
}
#why_block_wrapper #why_block_content #why_block_middle #why_block_row_one {
  display: block;
  position: relative;
  text-align: center;
  margin-top: 50px;
}
#why_block_wrapper #why_block_content #why_block_middle #why_block_row_two {
  display: block;
  position: relative;
  text-align: center;
  margin-top: 70px;
}
#why_block_wrapper #why_block_content #why_block_middle .why_item {
  color: white;
  text-align: center;
  display: inline-block;
  vertical-align: top;
  margin: 0px 50px;
}
#why_block_wrapper #why_block_content #why_block_middle .why_item .img {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
}
#why_block_wrapper #why_block_content #why_block_middle .why_item .img.ecommerce {
  background-image: url('../assets/images/ecommerce.png');
  background-position: center center;
  background-repeat: no-repeat;
  width: 160px;
  height: 160px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #why_block_wrapper #why_block_content #why_block_middle .why_item .img.ecommerce {
    background-image: url("../assets/images/ecommerce@2x.png");
    background-size: 111px 79px;
  }
}
#why_block_wrapper #why_block_content #why_block_middle .why_item .img.social_roi {
  background-image: url('../assets/images/social_roi.png');
  background-position: center center;
  background-repeat: no-repeat;
  width: 160px;
  height: 160px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #why_block_wrapper #why_block_content #why_block_middle .why_item .img.social_roi {
    background-image: url("../assets/images/social_roi@2x.png");
    background-size: 99px 90px;
  }
}
#why_block_wrapper #why_block_content #why_block_middle .why_item .img.mobile {
  background-image: url('../assets/images/mobile.png');
  background-position: center center;
  background-repeat: no-repeat;
  width: 160px;
  height: 160px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #why_block_wrapper #why_block_content #why_block_middle .why_item .img.mobile {
    background-image: url("../assets/images/mobile@2x.png");
    background-size: 81px 86px;
  }
}
#why_block_wrapper #why_block_content #why_block_middle .why_item .img.omnichannel {
  background-image: url('../assets/images/omnichannel.png');
  background-position: center center;
  background-repeat: no-repeat;
  width: 160px;
  height: 160px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #why_block_wrapper #why_block_content #why_block_middle .why_item .img.omnichannel {
    background-image: url("../assets/images/omnichannel@2x.png");
    background-size: 153px 121px;
  }
}
#why_block_wrapper #why_block_content #why_block_middle .why_item .img.marketing {
  background-image: url('../assets/images/marketing.png');
  background-position: center center;
  background-repeat: no-repeat;
  width: 160px;
  height: 160px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #why_block_wrapper #why_block_content #why_block_middle .why_item .img.marketing {
    background-image: url("../assets/images/marketing@2x.png");
    background-size: 135px 93px;
  }
}
#why_block_wrapper #why_block_content #why_block_middle .why_item .img.analytics {
  background-image: url('../assets/images/analytics.png');
  background-position: center center;
  background-repeat: no-repeat;
  width: 160px;
  height: 160px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #why_block_wrapper #why_block_content #why_block_middle .why_item .img.analytics {
    background-image: url("../assets/images/analytics@2x.png");
    background-size: 90px 72px;
  }
}
#why_block_wrapper #why_block_content #why_block_middle .why_item b {
  font-family: heavy, sans-serif;
  font-size: 18px;
  margin-bottom: 5px;
  display: block;
}
#why_block_wrapper #why_block_content #why_block_middle .why_item p {
  display: block;
  font-size: 18px;
  line-height: 26px;
}
#why_block_wrapper #why_block_content #why_learn_more {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  font-size: 14px;
  background: white;
  display: inline-block;
  box-shadow: 0px 0px 0px 2px rgba(0, 0, 0, 0.15);
  font-family: heavy, sans-serif;
  color: #506778;
  text-transform: uppercase;
  padding: 14px 50px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  margin-bottom: 50px;
}
#why_block_wrapper #why_block_content #why_learn_more:hover {
  color: #2b2f3e;
  box-shadow: 0px 0px 0px 4px rgba(0, 0, 0, 0.5);
}
#current_campaign_wrapper {
  display: block;
  position: relative;
  background: white;
}
#current_campaign_wrapper #current_campaign_content {
  display: block;
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding: 40px 0px;
  border-bottom: 1px solid #ebedf3;
}
#current_campaign_wrapper #current_campaign_content:after {
  content: '';
  clear: both;
  display: block;
}
#current_campaign_wrapper #current_campaign_content .current_campaign_title {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: heavy, sans-serif;
  color: #8b95a2;
  font-size: 14px;
  text-transform: uppercase;
  background: #eaedf2;
  padding: 12px 18px;
  width: calc(100% - 36px);
  text-align: left;
}
#current_campaign_wrapper #current_campaign_content #current_campaign_left {
  display: block;
  float: left;
  position: relative;
  text-align: center;
  overflow: hidden;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  width: 270px;
  padding: 60px 0px 0px 180px;
  height: 145px;
  background-image: url('../assets/images/instagram_analytics.png');
  background-repeat: no-repeat;
  background-position: 40px 70px;
  background-color: #fff;
  box-shadow: 0px 0px 0px 1px #ebedf3;
  text-align: left;
  margin-left: 30px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #current_campaign_wrapper #current_campaign_content #current_campaign_left {
    background-image: url("../assets/images/instagram_analytics@2x.png");
    background-size: 98px 93px;
  }
}
#current_campaign_wrapper #current_campaign_content #current_campaign_left b {
  font-size: 20px;
  color: #667282;
  font-family: heavy, sans-serif;
}
#current_campaign_wrapper #current_campaign_content #current_campaign_left p {
  font-size: 15px;
  color: #8b95a2;
  margin: 5px 0px 10px;
}
#current_campaign_wrapper #current_campaign_content #current_campaign_left a {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  font-size: 14px;
  box-shadow: 0px 0px 0px 2px #00a8ff;
  font-family: heavy, sans-serif;
  color: #00a8ff;
  text-transform: uppercase;
  padding: 10px 25px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  display: inline-block;
}
#current_campaign_wrapper #current_campaign_content #current_campaign_left a:hover {
  color: white;
  background: #00a8ff;
}
#current_campaign_wrapper #current_campaign_content #current_campaign_right {
  display: block;
  float: right;
  position: relative;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  width: 270px;
  margin-right: 30px;
  padding: 70px 0px 0px 180px;
  height: 135px;
  background-image: url('../assets/images/whitepaper.png');
  background-repeat: no-repeat;
  background-position: 40px 70px;
  background-color: #fff;
  box-shadow: 0px 0px 0px 1px #ebedf3;
  text-align: left;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #current_campaign_wrapper #current_campaign_content #current_campaign_right {
    background-image: url("../assets/images/whitepaper@2x.png");
    background-size: 98px 93px;
  }
}
#current_campaign_wrapper #current_campaign_content #current_campaign_right p {
  margin-bottom: 15px;
  font-size: 18px;
  color: #8b95a2;
}
#current_campaign_wrapper #current_campaign_content #current_campaign_right p b {
  font-family: heavy, sans-serif;
  color: #667282;
}
#current_campaign_wrapper #current_campaign_content #current_campaign_right a {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  font-size: 14px;
  box-shadow: 0px 0px 0px 2px #00a8ff;
  font-family: heavy, sans-serif;
  color: #00a8ff;
  text-transform: uppercase;
  padding: 10px 25px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  display: inline-block;
}
#current_campaign_wrapper #current_campaign_content #current_campaign_right a:hover {
  color: white;
  background: #00a8ff;
}
#solutions_wrapper {
  display: block;
  position: relative;
  background: white;
}
#solutions_wrapper #solutions_content {
  display: block;
  position: relative;
  width: 1000px;
  margin: 0 auto;
  padding: 70px 0px;
}
#solutions_wrapper #solutions_content #solutions_title {
  text-align: center;
  display: block;
  position: relative;
}
#solutions_wrapper #solutions_content #solutions_title h3 {
  font-size: 34px;
  font-family: heavy, sans-serif;
  display: block;
  color: #525d6b;
}
#solutions_wrapper #solutions_content #solutions_title h4 {
  font-size: 23px;
  font-family: book, sans-serif;
  display: block;
  margin-top: 10px;
  color: #667282;
}
#solutions_wrapper #solutions_bottom {
  display: block;
  position: relative;
  text-align: center;
  margin-top: 40px;
}
#solutions_wrapper #solutions_bottom .solutions_item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  margin: 0px 40px;
  padding: 30px 0px;
  height: 228px;
}
#solutions_wrapper #solutions_bottom .solutions_item:first-child {
  margin: 0px;
  border-right: 1px dashed #e9eef4;
  padding-right: 40px;
}
#solutions_wrapper #solutions_bottom .solutions_item:last-child {
  margin: 0px;
  padding-left: 40px;
  border-left: 1px dashed #e9eef4;
}
#solutions_wrapper #solutions_bottom .solutions_item .ecommerce_icon {
  background-image: url('../assets/images/ecom_icon.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 56px;
  height: 60px;
  display: block;
  margin: 0 auto 25px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #solutions_wrapper #solutions_bottom .solutions_item .ecommerce_icon {
    background-image: url("../assets/images/ecom_icon@2x.png");
    background-size: 56px 58px;
  }
}
#solutions_wrapper #solutions_bottom .solutions_item .agency_icon {
  background-image: url('../assets/images/agency_icon.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 30px;
  height: 60px;
  display: block;
  margin: 0 auto 25px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #solutions_wrapper #solutions_bottom .solutions_item .agency_icon {
    background-image: url("../assets/images/agency_icon@2x.png");
    background-size: 30px 59px;
  }
}
#solutions_wrapper #solutions_bottom .solutions_item .social_roi_icon {
  background-image: url('../assets/images/social_commerce.png');
  background-repeat: no-repeat;
  background-position: center center;
  width: 60px;
  height: 60px;
  display: block;
  margin: 0 auto 25px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #solutions_wrapper #solutions_bottom .solutions_item .social_roi_icon {
    background-image: url("../assets/images/social_commerce@2x.png");
    background-size: 60px 60px;
  }
}
#solutions_wrapper #solutions_bottom .solutions_item b {
  display: block;
  font-size: 24px;
  font-family: heavy, sans-serif;
  color: #4d5866;
  margin-bottom: 10px;
}
#solutions_wrapper #solutions_bottom .solutions_item p {
  display: block;
  font-size: 18px;
  color: #4d5866;
  margin-bottom: 10px;
}
#solutions_wrapper #solutions_bottom .solutions_item a {
  font-size: 18px;
  color: #00a8ff;
  display: block;
  font-family: heavy, sans-serif;
  text-transform: uppercase;
}
#dual_cta_wrapper {
  display: block;
  position: relative;
}
#dual_cta_wrapper:after {
  content: '';
  clear: both;
  display: block;
}
#dual_cta_wrapper .bg_image {
  width: 120px;
  height: 100px;
  margin: 0 auto 15px auto;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
}
#dual_cta_wrapper .dual_cta_title {
  font-size: 24px;
  font-family: heavy, sans-serif;
  color: #4d5866;
}
#dual_cta_wrapper p {
  font-size: 16px;
  color: #4d5866;
  font-family: book, sans-serif;
  margin-top: 10px;
  margin-bottom: 20px;
}
#dual_cta_wrapper #request_demo_link {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  font-size: 14px;
  background: white;
  box-shadow: 0px 0px 0px 2px #39ca74;
  font-family: heavy, sans-serif;
  color: #39ca74;
  text-transform: uppercase;
  padding: 14px 50px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  display: inline-block;
}
#dual_cta_wrapper #request_demo_link:hover {
  color: white;
  background: #39ca74;
}
#dual_cta_wrapper #learn_more_link {
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  font-size: 14px;
  background: white;
  box-shadow: 0px 0px 0px 2px #f979a5;
  font-family: heavy, sans-serif;
  color: #f979a5;
  text-transform: uppercase;
  padding: 14px 50px;
  cursor: pointer;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
  display: inline-block;
}
#dual_cta_wrapper #learn_more_link:hover {
  color: white;
  background: #f979a5;
}
#dual_cta_wrapper #dual_cta_left {
  float: left;
  background: #e0e7ef;
  width: 50%;
  text-align: center;
  padding: 40px 0px 50px;
}
#dual_cta_wrapper #dual_cta_left .bg_image {
  background-image: url('../assets/images/free_ticket.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #dual_cta_wrapper #dual_cta_left .bg_image {
    background-image: url("../assets/images/free_ticket@2x.png");
    background-size: 118px 90px;
  }
}
#dual_cta_wrapper #dual_cta_right {
  float: right;
  background: #eaedf2;
  width: 50%;
  text-align: center;
  padding: 40px 0px 50px;
}
#dual_cta_wrapper #dual_cta_right .bg_image {
  background-image: url('../assets/images/expert.png');
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #dual_cta_wrapper #dual_cta_right .bg_image {
    background-image: url("../assets/images/expert@2x.png");
    background-size: 80px 95px;
  }
}
#footer_wrapper {
  display: block;
  background-color: #2b2f3e;
  position: relative;
}
#footer_wrapper #footer_content {
  display: block;
  position: relative;
  margin: 0 auto;
  width: 1000px;
  padding: 70px 0px;
}
#footer_wrapper #footer_content:after {
  content: '';
  clear: both;
  display: block;
}
#footer_wrapper #footer_content #footer_left {
  float: left;
  width: 70%;
  text-align: left;
}
#footer_wrapper #footer_content #footer_left #footer_left_top {
  position: relative;
  display: block;
}
#footer_wrapper #footer_content #footer_left #footer_left_top #footer_menu_item {
  display: inline-block;
  vertical-align: top;
  margin-right: 40px;
}
#footer_wrapper #footer_content #footer_left #footer_left_top #footer_menu_item a {
  font-family: heavy, sans-serif;
  font-size: 14px;
  color: white;
  display: block;
  line-height: 25px;
  -webkit-transition: all 0.25s ease 0s;
  -moz-transition: all 0.25s ease 0s;
  -ms-transition: all 0.25s ease 0s;
  -o-transition: all 0.25s ease 0s;
  transition: all 0.25s ease 0s;
}
#footer_wrapper #footer_content #footer_left #footer_left_top #footer_menu_item a:hover {
  color: #00a8ff;
}
#footer_wrapper #footer_content #footer_left #footer_left_bottom {
  position: relative;
  display: block;
  margin-top: 90px;
}
#footer_wrapper #footer_content #footer_left #footer_left_bottom p {
  display: block;
  font-size: 13px;
  color: #667282;
}
#footer_wrapper #footer_content #footer_left #footer_left_bottom p a {
  color: #8b95a2;
}
#footer_wrapper #footer_content #footer_left #footer_left_bottom p a:hover {
  border-bottom: dotted 1px #8b95a2;
}
#footer_wrapper #footer_content #footer_right {
  text-align: right;
  float: right;
  width: 30%;
}
#footer_wrapper #footer_content #footer_right #footer_right_top {
  position: relative;
  display: block;
}
#footer_wrapper #footer_content #footer_right #footer_right_top p {
  display: block;
  font-size: 14px;
  color: #8b95a2;
  font-family: heavy, sans-serif;
}
#footer_wrapper #footer_content #footer_right #footer_right_top #partner_holder {
  display: block;
  position: relative;
  margin-top: 10px;
}
#footer_wrapper #footer_content #footer_right #footer_right_top #partner_holder .footer_partner {
  height: 55px;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  margin-left: 10px;
}
#footer_wrapper #footer_content #footer_right #footer_right_top #partner_holder .footer_partner#footer_magento {
  background-image: url('../assets/images/magento.png');
  width: 76px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #footer_wrapper #footer_content #footer_right #footer_right_top #partner_holder .footer_partner#footer_magento {
    background-image: url("../assets/images/magento@2x.png");
    background-size: 67px 46px;
  }
}
#footer_wrapper #footer_content #footer_right #footer_right_top #partner_holder .footer_partner#footer_demandware {
  background-image: url('../assets/images/demandware.png');
  width: 85px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #footer_wrapper #footer_content #footer_right #footer_right_top #partner_holder .footer_partner#footer_demandware {
    background-image: url("../assets/images/demandware@2x.png");
    background-size: 85px 41px;
  }
}
#footer_wrapper #footer_content #footer_right #footer_right_top #partner_holder .footer_partner#footer_shopify {
  background-image: url('../assets/images/shopify.png');
  width: 54px;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min--moz-device-pixel-ratio: 1.5), (-o-min-device-pixel-ratio: 3/2), (min-resolution: 1.5dppx) {
  #footer_wrapper #footer_content #footer_right #footer_right_top #partner_holder .footer_partner#footer_shopify {
    background-image: url("../assets/images/shopify@2x.png");
    background-size: 54px 49px;
  }
}
#footer_wrapper #footer_content #footer_right #footer_right_bottom {
  position: relative;
  display: block;
  margin-top: 100px;
}
#footer_wrapper #footer_content #footer_right #footer_right_bottom a {
  color: white;
  font-family: icons;
  font-size: 17px;
  margin-left: 10px;
}
#footer_wrapper #footer_content #footer_right #footer_right_bottom a#pixlee_social_link_twitter:before {
  content: '\f099';
}
#footer_wrapper #footer_content #footer_right #footer_right_bottom a#pixlee_social_link_facebook:before {
  content: '\f09a';
}
#footer_wrapper #footer_content #footer_right #footer_right_bottom a#pixlee_social_link_linkedin:before {
  content: '\f0e1';
}
#footer_wrapper #footer_content #footer_right #footer_right_bottom a#pixlee_social_link_gplus:before {
  content: '\f0d5';
}
