// ╔═╗╔═╗╔╗╔╔╦╗╔═╗
// ╠╣ ║ ║║║║ ║ ╚═╗
// ╚  ╚═╝╝╚╝ ╩ ╚═╝

@font-face{
	font-family: book;
	src: url(https://assets.pixlee.com/pixlee_fonts/Futura_PT_book.otf);
} // @font-face
@font-face{
	font-family: heavy;
	src: url(https://assets.pixlee.com/pixlee_fonts/Futura_PT_heavy.otf);
} // @font-face
@font-face{
	font-family: icons;
	src: url(https://assets.pixlee.com/pixlee_fonts/pixlee_icons.otf);
} // @font-face

.book{
	font-family: book, sans-serif;
} // book
.heavy{
	font-family: heavy, sans-serif;
} // heavy
.icons{
	font-family:icons;
} // icons

// ╦═╗╔═╗╔═╗╔═╗╔╦╗
// ╠╦╝║╣ ╚═╗║╣  ║ 
// ╩╚═╚═╝╚═╝╚═╝ ╩ 

*, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, tspan, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 14px;
	font: inherit;
	vertical-align: baseline;
	.book;
	outline:none;
	text-decoration:none;
	outline:none;
	backface-visibility:hidden;
	-webkit-backface-visibility:visible;
	-moz-backface-visibility:visible !important;
	-o-backface-visibility:hidden;
	-ms-backface-visibility:hidden;
	-webkit-font-smoothing: antialiased;
	-moz-font-smoothing: antialiased;
	-ms-font-smoothing: antialiased;
	-o-font-smoothing: antialiased;
	font-smoothing: antialiased;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	-o-appearance: none;
} // *, html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, tspan, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed,  figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input

body,html{
	overflow-x: hidden;
	background-color: #eaedf2;
} // body,html

tspan{
	font-size: 12px;
	font-family: Verdana, sans-serif;
	font-weight: bold;
} // tspan

textarea{
	-webkit-resize: none !important;
	-moz-resize: none !important;
	-ms-resize: none !important;
	-o-resize: none !important;
	resize: none !important;
} // textarea

a, input[type='submit'], button{
	cursor:pointer;
} // a, input[type='submit'], button

input[type='text'], textarea{
	cursor:text;
} // input[type='text'], textarea

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section{
	display: block;
} // article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section

ol, ul{
	list-style: none;
} // ol, ul

blockquote, q{
	quotes: none;
} // blockquote, q

blockquote:before, blockquote:after, q:before, q:after{
	content: '';
	content: none;
} // blockquote:before, blockquote:after, q:before, q:after

table{
	border-collapse: collapse;
	border-spacing: 0;
} // table

a{
	text-decoration:none;
	cursor:pointer;
} // a

::selection{
	background: rgba(0,168,255,1);
	color:white;
} // ::selection
::-moz-selection{
	background: rgba(0,168,255,1);
	color:white;
} // ::-moz-selection
:-moz-selection{
	background: rgba(0,168,255,1);
	color:white;
} // :-moz-selection
::-o-selection{
	background: rgba(0,168,255,1);
	color:white;
} // ::-o-selection
::-ms-selection{
	background: rgba(0,168,255,1);
	color:white;
} //  ::-ms-selection
::-webkit-selection{
	background: rgba(0,168,255,1);
	color:white;
} // ::-webkit-selection
