@font-face {
  font-family: book;
  src: url(https://assets.pixlee.com/pixlee_fonts/Futura_PT_book.otf);
}
@font-face {
  font-family: heavy;
  src: url(https://assets.pixlee.com/pixlee_fonts/Futura_PT_heavy.otf);
}
@font-face {
  font-family: icons;
  src: url(https://assets.pixlee.com/pixlee_fonts/pixlee_icons.otf);
}
.book {
  font-family: book, sans-serif;
}
.heavy {
  font-family: heavy, sans-serif;
}
.icons {
  font-family: icons;
}
*,
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
tspan,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font: inherit;
  vertical-align: baseline;
  font-family: book, sans-serif;
  text-decoration: none;
  outline: none;
  backface-visibility: hidden;
  -webkit-backface-visibility: visible;
  -moz-backface-visibility: visible !important;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  -o-font-smoothing: antialiased;
  font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
}
body,
html {
  overflow-x: hidden;
  background-color: #eaedf2;
}
tspan {
  font-size: 12px;
  font-family: Verdana, sans-serif;
  font-weight: bold;
}
textarea {
  -webkit-resize: none !important;
  -moz-resize: none !important;
  -ms-resize: none !important;
  -o-resize: none !important;
  resize: none !important;
}
a,
input[type='submit'],
button {
  cursor: pointer;
}
input[type='text'],
textarea {
  cursor: text;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  cursor: pointer;
}
::selection {
  background: #00a8ff;
  color: white;
}
::-moz-selection {
  background: #00a8ff;
  color: white;
}
:-moz-selection {
  background: #00a8ff;
  color: white;
}
::-o-selection {
  background: #00a8ff;
  color: white;
}
::-ms-selection {
  background: #00a8ff;
  color: white;
}
::-webkit-selection {
  background: #00a8ff;
  color: white;
}
